In [ ]:
Question 1
Step 1. Import the necessary libraries

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called users

Step 4. Discover what is the mean age per occupation

Step 5. Discover the Male ratio per occupation and sort it from the most to the least

Step 6. For each occupation, calculate the minimum and maximum ages

Step 7. For each combination of occupation and sex, calculate the mean age

Step 8. For each occupation present the percentage of women and men.

In [1]:
import pandas as pd

# Step 2, 3
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user" 
users = pd.read_csv(url, sep='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [2]:
# Step 4: Mean age per occupation
mean_age = users.groupby('occupation')['age'].mean()
mean_age

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [3]:
# Step 5: Male ratio per occupation
male_ratio = users[users['gender'] == 'M'].groupby('occupation').size() / users.groupby('occupation').size()
male_ratio = male_ratio.sort_values(ascending=False)
male_ratio

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
dtype: float64

In [4]:
# Step 6: Min and max age per occupation:
age_range = users.groupby('occupation')['age'].agg(['min', 'max'])
age_range

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [5]:
# Step 7: Mean age per occupation and gender
mean_age_gender = users.groupby(['occupation', 'gender'])['age'].mean().unstack()
mean_age_gender

gender                 F          M
occupation
administrator  40.638889  37.162791
artist         30.307692  32.333333
doctor               NaN  43.571429
educator       39.115385  43.101449
engineer       29.500000  36.600000
entertainment  31.000000  29.000000
executive      44.000000  38.172414
healthcare     39.818182  45.400000
homemaker      34.166667  23.000000
lawyer         39.500000  36.200000
librarian      40.000000  40.000000
marketing      37.200000  37.875000
none           36.500000  18.600000
other          35.472222  34.028986
programmer     32.166667  33.216667
retired        70.000000  62.538462
salesman       27.000000  38.555556
scientist      28.333333  36.321429
student        20.750000  22.669118
technician     38.000000  32.961538
writer         37.631579  35.346154

In [7]:
# Step 8: Percentage of women and men per occupation
gender_percentage = users.groupby(['occupation', 'gender']).size() / users.groupby(['occupation']).size() * 100
gender_percentage = gender_percentage.unstack()
gender_percentage

gender                 F           M
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor               NaN  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778

In [ ]:
Question 2

In [8]:
# Step 3 
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
euro12 = pd.read_csv(url)

euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [9]:
# Step 4: Only Goals column
goals = euro12['Goals']
goals.head()

0    4
1    4
2    4
3    5
4    3
Name: Goals, dtype: int64

In [10]:
# Step 5-6: 
num_teams = euro12['Team'].nunique() # Step 5 
num_columns = euro12.shape[1] # Step 6 

num_teams, num_columns

(16, 35)

In [11]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']] # Step 7
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [12]:
sorted_team_by_card = euro12.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=[False, False]) # Step 8
sorted_team_by_card

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17

In [13]:
mean_yellow_card_per_team = euro12['Yellow Cards'].mean() # Step 9
mean_yellow_card_per_team

7.4375

In [15]:
# Step 10-14
team_more_6_goals = euro12[euro12['Goals'] > 6] # Step 10
team_start_with_G = euro12[euro12['Team'].str.startswith('G')] # Step 11

team_more_6_goals, team_start_with_G

(       Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
 5   Germany     10               32                32             47.8%
 13    Spain     12               42                33             55.9%

    % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
 5             15.6%                          80             2              1
 13            16.0%                         100             0              1

     Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
 5                      0  ...          10                 62.6%         63
 13                     0  ...          15                 93.8%        102

    Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
 5              49        12             4          0       15        15
 13             83        19            11          0       17        17

     Players Used
 5             17
 13            18

 [2 rows x 35 columns],
       Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
 5  Germany     10               32                32             47.8%
 6   Greece      5                8                18             30.7%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
 5            15.6%                          80             2              1
 6            19.2%                          32             1              1

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
 5                     0  ...          10                 62.6%         63
 6                     1  ...          13                 65.1%         67

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
 5             49        12             4          0       15        15
 6             48        12             9          1       12        12

    Players Used
 5            17
 6            20

 [2 rows x 35 columns])

In [16]:
first_7_columns = euro12.iloc[:, :7] # Step 12
first_7_columns

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [17]:
all_but_last_3 = euro12.iloc[:, :-3] # Step 13
all_but_last_3

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [18]:
shooting_accuracy = euro12[euro12['Team'].isin(['England', 'Italy', 'Russia'])]['Shooting Accuracy'] # Step 14
shooting_accuracy

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object

In [ ]:
Question 3

In [19]:
# Step 1
import numpy as np

# Step 2:
series_1 = pd.Series(np.random.randint(1, 5, 100))
series_2 = pd.Series(np.random.randint(1, 4, 100))
series_3 = pd.Series(np.random.randint(10000, 30000, 100))

In [20]:
# Step 3:
df = pd.DataFrame({'series_1': series_1, 'series_2': series_2, 'series_3': series_3})
df.head()

   series_1  series_2  series_3
0         3         3     28930
1         4         1     24222
2         2         3     12328
3         1         1     27724
4         1         3     27809

In [21]:
# Step 4: 
column_name = ['bedrs', 'bathrs', 'price_sqr_meter']
df.columns = column_name
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       3            28930
1      4       1            24222
2      2       3            12328
3      1       1            27724
4      1       3            27809

In [22]:
# Step 5:
bigcolumn = pd.concat([series_1, series_2, series_3])
bigcolumn

0         3
1         4
2         2
3         1
4         1
      ...
95    23007
96    21623
97    12883
98    23336
99    10070
Length: 300, dtype: int32

In [23]:
# Step 6: Yes it is True, the index is going only until 99
# Step 7:
bigcolumn = bigcolumn.reset_index(drop=True)
bigcolumn

0          3
1          4
2          2
3          1
4          1
       ...
295    23007
296    21623
297    12883
298    23336
299    10070
Length: 300, dtype: int32

In [ ]:
Question 4
Wind Statistics The data have been modified to contain some missing values, identified by NaN. Using pandas should make this exercise easier, in particular for the bonus question. You should be able to perform all of these operations without using a for loop or other looping construct.

The data in 'wind.data' has the following format:

Yr Mo Dy RPT VAL ROS KIL SHA BIR DUB CLA MUL CLO BEL MAL

61 1 1 15.04 14.96 13.17 9.29 NaN 9.87 13.67 10.25 10.83 12.58 18.50 15.04

61 1 2 14.71 NaN 10.83 6.50 12.62 7.67 11.50 10.04 9.79 9.67 17.54 13.83

61 1 3 18.50 16.88 12.33 10.13 11.17 6.17 11.25 NaN 8.50 7.67 12.75 12.71

The first three columns are year, month, and day. The remaining 12 columns are average windspeeds in knots at 12 locations in Ireland on that day.

Step 1. Import the necessary libraries

Step 2. Import the dataset from the attached file wind.txt

Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

Step 6. Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.

Step 7. Compute how many non-missing values there are in total.

Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.

A single number for the entire dataset.

Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

A different set of numbers for each location.

Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

A different set of numbers for each day.

Step 11. Find the average windspeed in January for each location. Treat January 1961 and January 1962 both as January.

Step 12. Downsample the record to a yearly frequency for each location.

Step 13. Downsample the record to a monthly frequency for each location.

Step 14. Downsample the record to a weekly frequency for each location.

Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [27]:
import pandas as pd
# Load dataset
df_wind = pd.read_csv('./datasets/wind.txt', delim_whitespace=True)
data = df_wind
data.head()

C:\Users\arjun\AppData\Local\Temp\ipykernel_23844\2260642847.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_wind = pd.read_csv('./datasets/wind.txt', delim_whitespace=True)

FileNotFoundError: [Errno 2] No such file or directory: './datasets/wind.txt'

In [ ]:
Question 5
Step 1. Import the necessary libraries

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called chipo.

Step 4. See the first 10 entries

Step 5. What is the number of observations in the dataset?

Step 6. What is the number of columns in the dataset?

Step 7. Print the name of all the columns.

Step 8. How is the dataset indexed?

Step 9. Which was the most-ordered item?

Step 10. For the most-ordered item, how many items were ordered?

Step 11. What was the most ordered item in the choice_description column?

Step 12. How many items were orderd in total?

Step 13. • Turn the item price into a float • Check the item price type • Create a lambda function and change the type of item price • Check the item price type

Step 14. How much was the revenue for the period in the dataset?

Step 15. How many orders were made in the period?

Step 16. What is the average revenue amount per order?

Step 17. How many different items are sold?

In [28]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [29]:
# Step 4-8
first_10 = chipo.head(10)
num_observations = chipo.shape[0]
num_columns = chipo.shape[1]
column_names = chipo.columns
dataset_index = chipo.index

first_10, num_observations, num_columns, column_names, dataset_index

(   order_id  quantity                              item_name  \
 0         1         1           Chips and Fresh Tomato Salsa
 1         1         1                                   Izze
 2         1         1                       Nantucket Nectar
 3         1         1  Chips and Tomatillo-Green Chili Salsa
 4         2         2                           Chicken Bowl
 5         3         1                           Chicken Bowl
 6         3         1                          Side of Chips
 7         4         1                          Steak Burrito
 8         4         1                       Steak Soft Tacos
 9         5         1                          Steak Burrito

                                   choice_description item_price
 0                                                NaN     $2.39
 1                                       [Clementine]     $3.39
 2                                            [Apple]     $3.39
 3                                                NaN     $2.39
 4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
 5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
 6                                                NaN     $1.69
 7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
 8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
 9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25   ,
 4622,
 5,
 Index(['order_id', 'quantity', 'item_name', 'choice_description',
        'item_price'],
       dtype='object'),
 RangeIndex(start=0, stop=4622, step=1))

In [30]:
# Step 9-12
most_ordered_item = chipo['item_name'].value_counts().idxmax()
most_ordered_quantity = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum()
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
total_items_ordered = chipo['quantity'].sum()

most_ordered_item, most_ordered_quantity, most_ordered_choice, total_items_ordered

('Chicken Bowl', 761, '[Diet Coke]', 4972)

In [31]:
# Step 13-16
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
num_orders = chipo['order_id'].nunique()
average_revenue = total_revenue / num_orders

total_revenue, num_orders, average_revenue

(39237.02, 1834, 21.39423118865867)

In [32]:
# Step 17
num_unique_items = chipo['item_name'].nunique()
num_unique_items

50

In [ ]:
Question 6
Create a line plot showing the number of marriages and divorces per capita in the U.S. between 1867 and 2014. Label both lines and show the legend. Don't forget to label your axes!

In [42]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('C:\\Users\\arjun\\Downloads\\Book1.csv')

# Example data
years = marriages_divorces_df['Year'] 
marriages = marriages_divorces_df['Marriages_per_1000']
divorces =  marriages_divorces_df['Divorces_per_1000']

plt.figure(figsize=(10, 6))

plt.plot(years, marriages, label="Marriages per capita")
plt.plot(years, divorces, label="Divorces per capita")

plt.xlabel('Year')
plt.ylabel('Number per 1000')

plt.title('Marriages and Divorces per Capita in the U.S. (1867-2014)')
plt.legend()
plt.show()

KeyError: 'Year'